.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 450px;
    height: 300px;
    color: #28262C;
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding: 24px;
    border-radius: 12px;
}

.question, .answer {
    font-weight: 600;
    padding: 24px;
}

.question {
    font-size: larger;
}

.answer {
    font-size: x-large;
}

/* This container is needed to position the front and back side */
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.45s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.Card:active .inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: #E7EEEA;
    background-color: #6F6866;
    border-radius: 12px;
}

/* Style the back side */
.back {
    transform: rotateY(180deg);
}