#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #38302E;
  color: #E7EEEA;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 24px;
  margin: 12px;
  color: #CCDAD1;
  background-color: white;
}

body {
  background-color: #38302E;
}